html, body {
    background-color: #E5E5E5;
    /* display: flex; */
    margin: 0;
    padding: 0;    
}

aside {
    border: solid thin purple;    
    text-align: center; 
}

button {
    text-align: center; 
    vertical-align: middle;
}

p {
    border: solid thin yellow;    
    font-weight: bolder;
    text-align: left; 
}

.btn {
    width: 15%;
    background-color: blue; 
    border-radius: 5px; 
    color: white;  
}

.container1 { 
    background-color: white;
    border: solid thin red;
    display: flex;
    padding: 1em;    
}

.container2 {
    background-color: white;
    border: solid thin red;
    display: flex;
}

.date {
    border: solid thin brown;
    align-self: flex-end;
}

.footer {
    border: solid thin blue;
    display: flex;
    font-weight: bolder;
    text-align: center;     
}

.image {
    background-color: gray;
}

.main {
    border: solid thin hotpink;
}

.title {
    border: solid thin orange;
    font-weight: bolder;
    text-align: left;
}

.wrapper1 {
    align-items: center;
    border: solid thin green;
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper2 {
    align-items: center;
    border: solid thin green;
    display: flex;
    flex-flow: column wrap;
    font-weight: bold;
    text-align: center;    
}

/*
.wrapper > * {
    border: solid thick purple;
    padding: 10px;
    flex: 1 100%;    
}
*/

/* i don't really get how this works still */
@media all and (min-width: 600px) {
    .image { flex: auto; }
}

/* why main? */
@media all and (min-width: 800px) {
    .main { flex: 3 0px; }
    .main { order: 1; }
    .btn { order: 2; }
    .footer { order: 3;}
}